@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary-color: #1E40AF;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


.pbg {
  background: var(--primary-color);
}

.pcl {
  color: var(--primary-color) !important;
}

.container {
  width: 100%;
  max-width: 1440px !important;
  margin: 0 auto;
}

@media (min-width:768px) {
  .container {
    padding: 0px 40px;
  }
}


@media (min-width:1024px) {
  .container {
    padding: 0px 40px;
  }
}

@media (min-width:1440px) {
  .container {
    padding: 0px 0px;
  }
}